<%-include('../layouts/header.ejs')%>
<%-include('../layouts/sidebar.ejs')%>



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <h1>Update Profile</h1>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="/updateprofile" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" name="name" value="<%= n %>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" name="email" value="<%= e %>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Course</label>
                                <input type="text" name="course" value="<%= co %>" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="number" name="phone" value="<%= p %>"class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">city</label>
                                <input type="text" name="city" value="<%= c %>" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Address</label>
                                <textarea name="address" class="form-control" required><%= a %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Image</label>
                                <input type="file" name="image" class="form-control">
                                <img src="<%= img.url %>" alt="" style="width: 50px; border-radius: 2px;" >
                            </div>
                            <button class="btn btn-success" type="submit">Update Profile</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%-include('../layouts/footer.ejs')%>